/* homepage */

body {
    background-color: #ffffff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 1.5px; 
    cursor:url(http://www.rw-designer.com/icon-image/11245-64x64x32.png),pointer;
  }
  
  a {
    color: #9E9E9E
  }
  
  html {
    margin: 0;
    height: 100%;
    cursor:url(http://www.rw-designer.com/icon-image/11245-64x64x32.png),pointer;
  }
  
  .img {
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 50px;
  }

  p {
    padding-bottom: 50px;
    text-align: center;
    color: #E8E0E8;
  }

  @media only screen and (max-width: 480px) {
    img {
    width: 100%;
    }
    }
  
  /* global */
  
  /* a:hover {
    cursor:url(http://www.rw-designer.com/cursor-extern.php?id=153376),auto;
    color: #EEEEEE;
  } */
  
    /* http://www.rw-designer.com/cursor-extern.php?id=150258 */
    /* http://www.rw-designer.com/cursor-extern.php?id=128607 */
    /* http://www.rw-designer.com/cursor-extern.php?id=128617 */

